a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: black;
} 

q {
    font-style: italic;
}

h3 {
    color: #42464b;
}

h5 {
    color: #42464b;
}

footer h6 {
    padding: 10px;
}

form {
    width: 60%;
    margin: 0 auto;
}

figure {
    background-color: #42464b;
    padding: 5px;
    border-radius: 2px;
}

.container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar {
    background-color: #42464b !important;
}

.navbar-brand {
    padding-left: 40px;
}

.hoverable:hover {
    color: white;
}

.padded {
    padding-bottom: 10px;
    padding-top: 10px;
}

#index-name {
    padding-bottom: 20px;
}
 