a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: #8fbc8f;
} 

q {
    font-style: italic;
}

h3 {
    color: darkslateblue;
}

h5 {
    color: #212529;
}

footer h6 {
    padding: 10px;
}

form {
    width: 60%;
    margin: 0 auto;
}

figure {
    background-color: darkslateblue;
    padding: 20px;
    border-radius: 10px;
}

.container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar {
    background-color: #8fbc8f !important;
}

.navbar-brand {
    padding-left: 40px;
}

.hoverable:hover {
    color: #8fbc8f;
}

.padded {
    padding-bottom: 20px;
    padding-top: 20px;
}
 