footer {
    background-color: #8fbc8f;
} 

footer h6 {
    padding: 10px;
}

form {
    width: 60%;
    margin: 0 auto;
}

figure {
    background-color: darkslateblue;
    padding: 20px;
    border-radius: 10px;
}

.container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar {
    background-color: #8fbc8f !important;
}

.hoverable:hover {
    color: #8fbc8f;
}

#padded {
    padding-bottom: 20px;
}
 